.home-container{
    -fx-background-color:#f2f2f2;
}
.sidebar{
   -fx-background-color:#8080ff; 
}
.menu-btn{
   -fx-background-color:transparent;
   -fx-text-fill:white;
   -fx-cursor:hand;
   -fx-font-weight:bold;
   -fx-label-padding:0 0 0 10;
}
.menu-btn-clicked{
    -fx-background-color:#f2f2f2;
    -fx-text-fill: #8080ff;
    -fx-font-weight:bold;
    -fx-cursor:hand;
    -fx-label-padding:0 0 0 10;
}
.page-label{
   -fx-text-fill:#8080ff; 
}
.dashboard-button{
  -fx-background-color:#8080ff; 
  -fx-text-fill:white;
}